# 비디오 무시
*.mp4

# 오디오 무시
*.mp3

# 이미지 무시
*.png
*.jpg
*.jpeg

# Local Netlify folder
.netlify

.env

node_modules/

# Python
__pycache__/
*.pyc

# YOLO / ML weights & artifacts
*.pt
weights/
*_openvino_model/
*.npy
*.zip
kernel.errors.txt
