/* styles/main.css */
.menu {
  display: flex;     /* 자식을 가로로 나란히 */
  gap: 30px;         /* 사이 간격 */
  list-style: none;  /* 점 제거 */
}

li {
    background-color: lightblue;
    border-radius: 10px;
    color:darkblue;
    padding: 20px;
}